{% extends 'base.html' %}

{% block title %} Search results {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}

{% block body %} 
<div class="container">
    <h3 class="mt-3">Search results:</h3>
    {% if allPosts|length < 1%}
    <div class="container">
        <div class="jumbotron my-3">
            <h4 class="display-8">Your search query: <b>{{query}}</b>- did not match any documents.</h4>
            <hr class="my-4">
            <h5>Suggestions:</h5> 
            <ul>
                <li>Try different keywords.</li>
                <li>Make sure that all words are splled correctly.</li>
                <li>Try more general keywords.</li>
                <li> Try fewer keywords.</li>
            </ul>
        </div> 
        <hr>
    </div>
    {% endif %}
    {% for post in allPosts %}
        <div class="row g-0 border rounded overflow-hidden flex-md-row my-3 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Article by: {{post.author}}</strong>
                <h3 class="mb-0">{{post.title}}</h3>
                <div class="mb-1 text-muted">{{post.timeStamp}}</div>
                <p class="card-text mb-auto">{{post.content|truncatechars:500}}</p>
                {% comment %} <a href="#" class="stretched-link mt-2">Continue reading</a>
                {% endcomment %}
                <div class="container mt-2">
                    <a href="/blog/{{post.slug}}"> <button type="submit" class="btn btn-primary">Continue reading</button> </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock body %}